.icon4 {
    display: flex;
    font-size: 19px;
    gap: .5rem;
    cursor: pointer;
}
.bull {
    background-color: white;
    padding: .5rem;
    border-radius: 17px;
}
.ring{
    background-color: white;
    border-radius: 17px;
    padding: .5rem;
}
.change {
    display: flex;
    justify-content: space-between;
 
}

.AppGlass {
    display: flex;
    background-color: whitesmoke;
}
.text {
    flex: 1;
}
.change h1{
    color: #3F3F3F;
    font-weight: 500;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}
.name {
    display: flex;
    gap: 1rem;
}
.name h1{
    padding: 0rem .9rem;
    background-color: #FF725E;
    font-size: 70px;
    border-radius: 80px;
    color: white;
    font-weight: 400;
}
.page h2{
    font-weight: 400;
    color: #000000;
    font-size: 19px;
}
.page p{
    font-size: 12px;
    color: #8E8E8E;
    margin-top: .1rem;
}
.page h4{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-top: .8rem;
}
.form-control .form-control-btn{
    padding: .6rem .7rem;
    background-color: white;
    border:1px solid #FA9500;
    border-radius: 9px;
    color: #FA9500;
    font-size: 18px;
    cursor: pointer;
}
.form-control .form-control-btn-btn {
    cursor: pointer;
    padding: .6rem 2rem;
    background-color: #FA9500; 
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
}
.span {
    margin-left: 1rem;
   color: white;
   font-size: 15px;
   font-weight: 500;

}
 .form {
    border-left: 3px dashed #8E8E8E;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icon {
    font-size: 25px;
    color: white;
}

.form-control{
    display: flex;
    gap: .5rem;
    margin-top: .8rem;
}
.form h3{
    margin-top: .7rem;
    color: #4F4F4F;
    font-weight: 400;
    font-size: 18px;
}
.number {
    color: #0D6EFD;
    margin-left: .7rem;
}
.mail{
    font-size: 17px;
    color: #0D6EFD;
    margin-left: .7rem;
}
.date {
    margin-left: .7rem;
    font-size: 17px;
    color: #8E8E8E;
}
.dots{
    cursor: pointer;
}
@media screen and (max-width:522px) {
    .change h1{
        margin-top: 2rem;
    }
    .icon4 {
      font-size: 15px;
    }
    .bull {
        padding: .2rem;
        margin-bottom: 2.4rem;
        border-radius: 27px;
    }
    .ring{
        padding: .2rem;
        margin-bottom: 2.4rem;
        border-radius: 27px;
    }
}  
@media screen and (max-width:934px) {
    .container .form {
        border-left: none;
    }
}
@media screen and (max-width:450px) {
    .name {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .name h1{
        padding: 0rem 1rem;
        margin:0rem 5rem ;
        border-radius: 80px;
    }
    .container {
        width: 100%;
    }
   
}
.personal-info  {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.personal-info p {
    margin-top: 1.5rem;
    color: #4F4F4F;
    font-size: 15px;
}
.information{
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    
}
.information h1{
    color: #000000;
    font-size: 19px;
    font-weight: 500;
}
.divide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}
@media screen and (max-width:706px) {
    .divide{
        display: flex;
        flex-wrap: wrap;
    }
    .information{
        width: 100%;
    }
}
